In [1]:
import pandas as pd
import numpy as np

In [2]:
from imblearn.over_sampling import SMOTE

In [5]:
df = pd.read_csv('../data/vectors_and_result.csv')

In [8]:
df.head(5)

,sbert_encoded,word2vec_encoded,encoded_result
0,"[-0.15123848617076874, 0.08008230477571487, -0...",[ 0.24743731 0.32383472 -0.36602622 0.052526...,8
1,"[0.028186652809381485, 0.11452296376228333, -0...",[ 1.60471067e-01 -8.81448165e-02 -2.83175647e-...,0
2,"[-0.03124922700226307, 0.07508113980293274, -0...",[ 1.86732382e-01 1.61641568e-01 -1.82570457e-...,24
3,"[-0.01341341994702816, 0.044576939195394516, 0...",[ 4.46181782e-02 9.00971889e-02 -3.04393619e-...,4
4,"[-0.09738583862781525, 0.02743050456047058, 0....",[ 1.07081413e-01 -5.39613143e-02 -1.92436725e-...,23

In [26]:
# df.drop(columns=['sbert_encoded'])
df.drop(columns=['word2vec_encoded'])

                                           sbert_encoded  encoded_result
0      [-0.15123848617076874, 0.08008230477571487, -0...               8
1      [0.028186652809381485, 0.11452296376228333, -0...               0
2      [-0.03124922700226307, 0.07508113980293274, -0...              24
3      [-0.01341341994702816, 0.044576939195394516, 0...               4
4      [-0.09738583862781525, 0.02743050456047058, 0....              23
...                                                  ...             ...
73338  [0.04579981416463852, -0.011272142641246319, 0...              21
73339  [-0.07561536133289337, 0.0886458158493042, -0....               3
73340  [-0.06422470510005951, -0.04225136712193489, -...              25
73341  [0.0018537173746153712, -0.034179285168647766,...              17
73342  [-0.12254413962364197, 0.06937147676944733, -0...               2

[73343 rows x 2 columns]

In [27]:
# X = df['word2vec_encoded']
X = df['sbert_encoded']
Y = df['encoded_result']

In [28]:
# Convert string vectors (NumPy array format) to numeric arrays
def parse_vector(vec_str):
    if isinstance(vec_str, str):
        # Remove brackets and replace commas with spaces
        cleaned = vec_str.replace(",", " ").strip("[]").split()
        return np.array([float(x) for x in cleaned if x])
    return np.array(vec_str)

In [29]:
X_resampled = np.array([parse_vector(v) for v in X])

In [30]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_resampled)

In [31]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)

In [32]:
X_new, y_new = smote.fit_resample(X_scaled, Y)

In [33]:
y_new.value_counts()

encoded_result
8     3720
0     3720
24    3720
4     3720
23    3720
21    3720
10    3720
22    3720
5     3720
26    3720
18    3720
7     3720
11    3720
13    3720
20    3720
15    3720
12    3720
14    3720
17    3720
25    3720
9     3720
16    3720
3     3720
6     3720
2     3720
19    3720
1     3720
Name: count, dtype: int64

In [34]:
# Create DataFrame from SMOTE resampled data
new_df = pd.DataFrame({
    "vectors": [vec for vec in X_new],
    "result_Encoded": y_new
})

# # Keep only 4k rows per class
# new_df = new_df.groupby("result_Encoded").sample(n=4000, random_state=42).reset_index(drop=True)
# print(f"Final shape: {new_df.shape}")
# print("Final class distribution:")
# print(new_df["result_Encoded"].value_counts().sort_index())

In [35]:
new_df

                                                  vectors  result_Encoded
0       [-2.0077573929808996, 0.8616077548220442, -0.2...               8
1       [2.4351152701171452, 1.5750363783510406, -1.14...               0
2       [0.9633814477370485, 0.7580100204126978, -0.96...              24
3       [1.4050264705047943, 0.12612403182648713, 1.09...               4
4       [-0.674273930384772, -0.22905956860329432, 1.3...              23
...                                                   ...             ...
100435  [-1.0635767534026086, 0.117610165693948, 1.452...              26
100436  [-1.2013687492129197, 0.8970739976094941, 2.49...              26
100437  [-0.35151539421082945, 0.021115077237350982, 1...              26
100438  [0.39058655180877055, 0.3934167644613723, 0.87...              26
100439  [-1.1340276664166387, -0.9106219973335508, 1.3...              26

[100440 rows x 2 columns]

In [36]:
new_df.to_csv('../data/balanced_sbert_data.csv',index=False)

In [9]:
# df1 = pd.read_csv('../data/vectors_and_result.csv')

In [10]:
# df1.shape